/* main style for tp- 3 */
main {
    .fixed {
        position: sticky;
        top :0;
        border: 1px solid black;
        background-color: white;
        color: black;
        right: 50%;
    }
}